.psp{
  padding-top: 5px;
  height: 580px;
  margin:auto 70px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61LzA5pG4OL._AC_SX679_.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
span{
  font-size: 1.5em;
  padding-left: 40%;
  
}
